.cart-container {
  width: 220px;
  height: auto;
  background-color: whitesmoke;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
}
.cart-container li {
  list-style: none;
}
.credit-heading {
  color: #2f80ed;
}
